node-linker=hoisted
build-from-source=true
runtime=electron
disturl=https://npmmirror.com/dist
npm_config_build_from_source=true
electron_mirror="https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror="https://npmmirror.com/mirrors/electron-builder-binaries/"

# target=25.9.8
# disturl=https://electronjs.org/headers
# arch=x64
# npm_config_build_from_source=true 