.terminal-container {
  padding: 4px;
}

.terminal-container .xterm {
  height: 100%;
  padding: 4px;
}

.terminal-container .xterm-viewport {
  overflow-y: auto;
}

/* Scrollbar styling */
.terminal-container .xterm-viewport::-webkit-scrollbar {
  width: 10px;
}

.terminal-container .xterm-viewport::-webkit-scrollbar-track {
  background: #18181a;
}

.terminal-container .xterm-viewport::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 5px;
}

.terminal-container .xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}